// footer ......................... //
#footer{
    background: rgb(14, 13, 13);
    font-family: Roboto,sans-serif;
    .reserve{
        background-color: rgba(148, 5, 5, 0.653);
    }
    .form-footer{
        .row{ 
            .image{
                .img-fluid{
                    margin-top: 20px;
                }
            }
            .form-contact{
                .title{
                    color: #ddd;
                    margin-top: 50px;
                }
                .contact-link{
                    .nav{
                        li{
                            .nav-link{
                                color: #ddd;
                                font-size: 13px;
                                line-height: 20px;
                                margin-top: -5px;
                                strong{
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px){
        .form-footer{
            .row{ 
                .image{
                    .img-fluid{
                        width: 100%;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 576px){
        .form-footer{
            .row{ 
                .image{
                    .img-fluid{
                        width: 40%;
                    }
                }
            }
        }
    }
}
// .................................... //