#about-ipads{
    .form-ipads{
        .row{
            .card{
                .title{
                    color: rgb(194, 4, 4);
                }
                .title-price{
                    strong{
                        color: green;
                    }
                }
                .img-fluid{
                    height: 250px;
                    width: 100%;
                    border-radius: 8px;
                }  
                .send{
                    padding: 4px 0;
                    margin-left: 0;
                    margin-top: 10px;
                    background-color: rgb(194, 4, 4);
                    border: none;
                    width: 30%;
                    border-radius: 5px;
                    color: white;
                }
                .send:hover{
                   background-color: green;
                }
            }  
        }
    }
}